
body {
  margin:0;
  padding:0;

  background-color: white;
  color:white;
  font-family: 'Cuprum', sans-serif;
}

.content{
  margin-right: auto;
  margin-left: auto;
  width:940px;

}

.top1 {
  width:100%;
  background-color: #293449;;
}

.content{
  width:940px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header{
  background-color: #f4f7f9;
  width: 100%;
  height: 320px;

}

.flex-top1{
  width: 940px;
  height: 42px;
  background-color: #293449;
  display:flex;
  align-items: center;

}

.logo{
  padding: 11px 1px 0 0;
  width: 220px;
  height: 31px;
  background-color: #ee3643;
  text-align:center;
  box-shadow: 0 5px 0 0 #b52933;
}

.img-search{
  opacity: 0.3;
  margin-top:2px;
  margin-left: 16px;
  margin-right:5px;

}

.search{
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0px;
  margin-left:7px;
  padding-right:57px;
  display: flex;


}

.search-field{
  display: flex;
  padding-top:9px;
  padding-bottom:8px;
  padding-right:2px;

}
.search-field input  {
  background-color: #293449;
  border:none;
  color:white;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  outline: none;

}


input[id=a]:focus {                            /* Анимации поля поика */
  background-color:#fff;
  color:black;
  outline:none;
}

.search-field:focus-within{
  background-color:#fff;
}

.search-field:focus-within img{
  opacity: 1;
  filter:  hue-rotate(250deg) saturate(10);
}

.search-field:focus img {
  opacity: 1;

}




.flag-button{
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left:8px;
  padding-right: 28px;
  display: flex;

}

.flag-img {
  opacity: 0.3;
  margin-right:9px;
  margin-left:8px;
}

.buy-items{
  margin-bottom: 1px;
}

.bag-field{
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left:8px;
  padding-right: 28px;
  display: flex;
  margin-bottom: 5px;
  margin-top: 4px;

}

.bag-img {
  margin-left:10px;
  margin-right:15px;
  opacity: 0.3;

}

.bag{
  margin-right:3px;

}

.made-custom {
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 4px;
  padding-left:13px;
  padding-right: 27px;
  display: flex;
  background-color: #5fbb2d;
}

.custom{
  margin-left:4px;
  margin-bottom: 9px;
}



.bag-field:hover {
  background-color:red;
}

.flag-button:hover {
  background-color:red;
}


.top2{
  display:flex;
  width:940px;
  margin-left: auto;
  margin-right: auto;
}

.description-text {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
  padding-left:50px;
  margin-top:46px;

}

.contacts {
  display:flex;
  flex-direction: column;
}

.telephone{
  display:flex;
  justify-content: center;
  width: 265px;
  height: 38px;
  border: 3.0px solid #ffffff;
  margin-top:47px;
  margin-left:80px;

}

.phone-img{
  margin-top: 10px;
  padding-right: 30px;
  margin-left: 4px;


}

.number{
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;
  margin-top:8px;
  margin-bottom:25px;
  padding-right:30px;

}

.adress {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  margin-left: 90px;
  margin-top:4px;

}

.user-login{
  display: flex;
}

.enter-field{
  display:flex;
  width: 121px;
  height: 45px;
  background-color: #ffffff;
  margin-top: 45px;
  margin-left: 68px;
}

.img-enter{
  margin-top: 14px;
  margin-left: 12px;
}

.enter {
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  margin-left: 14px;
  margin-top: 12px;
}


.registration{
  width: 150px;
  height: 45px;
  background-color: #ffffff;
  text-align:center;
  display: flex;
  margin-left:8px;
  margin-top: 45px;
  justify-content: center;
  align-items: center;

}

.reg-text{
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.navigation{
  width: 940px;
  height: 60px;
  background-color: #32425c;
  margin-top: 25px;
  margin-left:auto;
  margin-right:auto;
}

.links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: baseline;
  padding-top:1px;
  padding-left:0px;
  padding-right:0px;
}

.links span{
  font-family: Cuprum;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}

.link1 {
  padding-right: 32px;
  padding-left: 50px;
  padding-top: 18px;
  padding-bottom: 22px;
}

.link1:hover{
  background-color: #1d2739;
}

.link2 {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 18px;
  padding-bottom: 22px;
}

.link2:hover{
  background-color: #1d2739;
}

.link3 {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 18px;
  padding-bottom: 22px;
}

.link3:hover{
  background-color: #1d2739;
}

.link4 {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 18px;
  padding-bottom: 22px;
}

.link4:hover{
  background-color: #1d2739;
}

.link5 {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 18px;
  padding-bottom: 22px;
}

.link5:hover{
  background-color: #1d2739;
}

.link6 {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 18px;
  padding-bottom: 22px;
}

.link6:hover{
  background-color: #1d2739;
}

.link7 {
  padding-right: 37px;
  padding-left: 32px;
  padding-top: 18px;
  padding-bottom: 22px;
}

.link7:hover{
  background-color: #1d2739;
}

