.materials {
  display: flex;
  width: 300px;
  height: 123px;

}


body {
  margin:0;
  padding:0;

  background-color: white;
  color:white;
  font-family: 'Cuprum', sans-serif;
}

.central{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-links {
  display:flex;
  flex-direction: column;
}

.materials h2{
  font-family: Cuprum;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 23px;
  margin-top:25px;
}

under-materials {
  display: flex;
  flex-direction: column;
}

.materials a {
  background-color: black;
  align-self: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:22px;
  padding-left:12px;
  opacity: 0.1;
  margin-left: 23px;
}

.materials span {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 15px;
}

.materials img {
  margin-left: 50px;
  margin-top:28px;
}

.banka-pic {
    background-color: #ffbf47;
    margin-left: 40px;
    margin-top: 40px;
  }

.drill-pic {
  background-color: #3bbce3;
}

.traktor-pic{
background-color: #dc91d8;
}

.sale-pic {
  background-color: #8ed78f;
}

.truck-pic{
  background-color: #ffbf47;
}

.popular-items h2 {                         /* Популярные товары и Производители тут же*/
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  margin-right: 320px;
  margin-bottom:20px;
}

.popular-items a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding-top:13px;
  padding-right:55px;
  padding-bottom: 13px;
  padding-left: 55px;
  background-color: #ee3643;
  border-radius: 5px;

}

.popular-items{
  display: flex;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  align-items: center;
}


.drill-catalog{                      /* Ряд перфораторов */
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  justify-content: space-between;
}

.drill-tool {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 316px;
  background-color: #ffffff;
  border: 1.0px solid #eaeaea;
}
.drill-tool h3{
  font-family: PTSans;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 7px;
}

.price-strike {
  font-family: PTSans;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
  text-align: center;
  align-self: center;
  margin-bottom: 7px;
}

.price-strike-none {
  font-family: PTSans;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
  color: white;
  text-align: center;
  align-self: center;
  margin-bottom: 7px;
}

.red-price {
  font-family: PTSans;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color:#ee3643;
  text-align: center;
  align-self: center;
  padding-top:13px;
  padding-right: 40px;
  padding-bottom: 13px;
  padding-left:40px;
}

.hidden-buy{                         /* Окно которое появляется при наведении на карточку товара */
  display: flex;
  width: 208px;
  height: 158px;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;

  visibility: hidden;
  position: absolute;

}

.under-hidden-buy{
  display: flex;
  width: 135px;
  height: 38px;
  background-color: #63a63e;
  border-radius: 4px;
  margin-top:42px;
}

.under-hidden-buy img{
  margin-top:10px;
  margin-right: 25px;
  margin-left: 11px;
  opacity: 0.3;
  color:white;
}

.under-hidden-buy span{
  margin-top:9px;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.v-zakladki {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  align-self: center;
  padding-top:7px;
  padding-right:31px;
  padding-left: 30px;
  padding-bottom: 7px;

  margin-top: 7px;

  border: 3.0px solid #63a63e;
  border-radius: 4px;

}

.drill-tool:hover .drill-cart-img {                  /* Анимации с появлением кнопок */
  visibility: hidden;

}

.drill-tool:hover .hidden-buy {
  visibility: visible;
}

.drill-tool:hover {
  box-shadow: 0px 10px 25px 0px rgba(41,51,73,0.5);
  background-color: #ffffff;

}

.under-hidden-buy:hover {                       /* Анимации наведения и клика для них же */
  background-color: #5fbb2d;
}

.under-hidden-buy:hover img {
  opacity: 1;
}

.under-hidden-buy:active {
  background-color: #518534;
}

.v-zakladki:hover {
  border-color: #32425c ;
  color: #32425c ;
}

.v-zakladki:active {
  border-color: #32425c ;
  color: #32425c ;
  opacity: 0.3;
}
                                                             /* Производители иконки */
.firms {
  display: flex;
  width: 940px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-align: center;
}

.firms a{
  width: 218px;
  height: 143px;
  background-color: #ffffff;
  border: 1.0px solid #eaeaea;
  text-align: center;
}
                                                        /* Производители иконки выравнивание */
.bosch-icon {line-height: 160px;}
.makita-icon {line-height: 160px;}
.dewalt-icon{line-height: 160px;}
.interskol-icon{line-height: 200px;}
.hitachi-icon{line-height: 160px;}
.lg-icon{line-height: 200px;}
.aeg-icon{line-height: 200px;}
.metabo-icon{line-height: 200px;}


.firms a:hover    {                                       /* Производители иконки анимации */
  box-shadow: 0px 10px 25px 0px rgba(41,51,73,0.5);
}

.firms a:active {
  box-shadow: 0px 4px 10px 0px rgba(41,51,73,0.5);
  background-color: #ffffff;
  opacity: 0.3;
}
                                                               /* Секция с доставкой */
.services {
  width:100%;
  background-color: #f4f8f9;
  margin-top: 68px;
}

.services h2 {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.services span {
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  color: #000000;
}

.text-block-services{
  width:940px;
  padding-top: 68px;
  margin-left: auto;
  margin-right: auto;
}

.user-options {
  width:940px;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;

  display: flex;

}

.user-options-buttons{
  margin-right: 80px;
}

.user-options-buttons button {
  width: 240px;
  height: 62px;
  border:none;
}

.drive-button {
  width: 240px;
  height: 62px;
  background-color: #ffffff;
  box-shadow: 0px 1px 0px 0px #293349;

}

.drive-button span {
  font-family: Cuprum;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #32425c;
  padding-right: 115px;
}

.guarantee-button {
  box-shadow: 0px 1px 0px 0px #293349;
  background-color: #32425c;

}

.guarantee-button span{
  font-family: Cuprum;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  padding-right: 115px;
}

.credit-button {
  box-shadow: 0px 1px 0px 0px #293349;
  background-color: #32425c;

}

.credit-button span{
  font-family: Cuprum;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  padding-right: 130px;
}

.text-box-without-picture{
  width: 275px;
  height: 147px;
  display: flex;
  flex-direction: column;
  margin-top: -25px;
}

.text-box-without-picture h2 {
  font-family: Cuprum;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.text-box-without-picture span {
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  color: #000000;
}

.text-box-with-picture {
  display: flex;
}

.text-box-without-picture img {
  position: relative;
  margin-right: -120px;
}











