.materials {
  display: flex;
  width: 300px;
  height: 123px;

}


body {
  margin:0;
  padding:0;

  background-color: white;
  color:white;
  font-family: 'Cuprum', sans-serif;
}

.central{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Вершина мейна*/
.main-top{
  height: 410px;
  margin-top: 60px;
}

.main-links1 {
  display:flex;
  flex-direction: row;
  width:940px;
  margin-left: auto;
  margin-right: auto;

  justify-content: space-between;
}

.main-links2 {
  display: flex;
  width:940px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
                  /* Слайдер*/
.slides {
  width: 620px;
  height: 266px;
  background-image: url(img/slider_1.png);
}

.main-links2 input {
  display: none;
}

.perfo-for-men {
  position: absolute;
  visibility: hidden;
}

 .slides a {
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   text-transform: uppercase;
   color: #ffffff;
   padding-top:13px;
   padding-right:55px;
   padding-bottom: 13px;
   padding-left: 55px;
   background-color: #ee3643;
   border-radius: 5px;
   margin-bottom: 20px;
 }

.under-main-links2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-buttons {
  display: flex;
  align-items: baseline;
  margin-top: 106px;
  margin-left: 25px;
}

.radio-slider{
  display: flex;
  margin-left: 66px;
}

.radio-slider label[for="slide1"] {
  margin-right: 10px;
}




.slides h2{
font-family: Cuprum;
font-size: 36px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-top: 26px;
}

.slides span{
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 25px;
}
                                              /* Анимации слайдера */
#slide1:checked~.slides {
  background-image: url("img/slider_1.png");
}

#slide2:checked~.slides {
  background-image: url("img/slider_2.png");
}

#slide2:checked~.perfo-for-men {
  visibility: visible;
  position: relative;
}

#slide2:checked~.drills-for-men {
  visibility: hidden;
  position: absolute;
}

.radio-slider label {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: white;
  padding: 0;
  margin: 0;
}

.radio-slider label span {
  display: none;
}

#slide1:checked~ .drills-for-men .slide-buttons .radio-slider label[for="slide1"]::before,
#slide2:checked~ .perfo-for-men .slide-buttons .radio-slider label[for="slide2"]::before{
   content: "";
   position: absolute;
   background: red;
   border-radius: 50%;
   width: 6px;
   height: 6px;
   margin-top: 2px;
   margin-left: 2px;
}
                                 /* Кнопки-стрелочки */
.arrow-button-slider {
  position: absolute;
  display: flex;
}

.arrow1{
  padding-left: 25px;
  padding-top: 25px;
}

.arrow2{
  padding-left: 525px;
  padding-top: 25px;
}




                             /* Картинки с кнопками*/
.materials h2{
  font-family: Cuprum;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 23px;
}

.under-materials {
  display: flex;
  flex-direction: column;
}

.materials a {
  background-color: black;
  align-self: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:22px;
  padding-left:12px;
  opacity: 0.1;
  margin-left: 23px;
}

.materials span {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 15px;
}

.materials img {
  margin-left: 50px;
  margin-top:28px;
}

.under-materials:hover a {
  opacity: 0.2;
}

.under-materials:active a {
  opacity: 0.3;
}




.banka-pic {
    background-color: #ffbf47;

  }

.drill-pic {
  background-color: #3bbce3;
}

.traktor-pic{
background-color: #dc91d8;
}

.sale-pic {
  background-color: #8ed78f;
}

.truck-pic{
  background-color: #ffbf47;
}
                               /* Анимации для всех красных кнопок*/
.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
background-color: #ba2732;
}

.popular-items h2 {                         /* Популярные товары и Производители тут же*/
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  margin-right: 320px;
  margin-bottom:20px;
}

.popular-items a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding-top:13px;
  padding-right:55px;
  padding-bottom: 13px;
  padding-left: 55px;
  background-color: #ee3643;
  border-radius: 5px;

}

.popular-items{
  display: flex;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  align-items: center;
}


.drill-catalog{                      /* Ряд перфораторов */
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  justify-content: space-between;
}

.drill-tool {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 316px;
  background-color: #ffffff;
  border: 1.0px solid #eaeaea;
}
.drill-tool h3{
  font-family: PTSans;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 7px;
}

.price-strike {
  font-family: PTSans;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
  text-align: center;
  align-self: center;
  margin-bottom: 7px;
}

.price-strike-none {
  font-family: PTSans;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
  color: white;
  text-align: center;
  align-self: center;
  margin-bottom: 7px;
}

.red-price {
  font-family: PTSans;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color:#ee3643;
  text-align: center;
  align-self: center;
  padding-top:10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left:50px;
  border-radius: 4px;
}

.red-price::after {
  content: "";
  position: absolute;
  background-color: #ee3643;;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(135deg);
  margin-left: 14px;
  margin-top: -4px;
  margin-bottom: 20px;

}


.hidden-buy{                         /* Окно которое появляется при наведении на карточку товара */
  display: flex;
  width: 208px;
  height: 158px;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;

  visibility: hidden;
  position: absolute;

}

.under-hidden-buy{
  display: flex;
  width: 135px;
  height: 38px;
  background-color: #63a63e;
  border-radius: 4px;
  margin-top:42px;
}

.under-hidden-buy img{
  margin-top:10px;
  margin-right: 25px;
  margin-left: 11px;
  opacity: 0.3;
  color:white;
}

.under-hidden-buy span{
  margin-top:9px;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.v-zakladki {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  align-self: center;
  padding-top:7px;
  padding-right:31px;
  padding-left: 30px;
  padding-bottom: 7px;

  margin-top: 7px;

  border: 3.0px solid #63a63e;
  border-radius: 4px;

}

.drill-tool:hover .drill-cart-img {                  /* Анимации с появлением кнопок */
  visibility: hidden;

}

.drill-tool:hover .hidden-buy {
  visibility: visible;
}

.drill-tool:hover {
  box-shadow: 0px 10px 25px 0px rgba(41,51,73,0.5);
  background-color: #ffffff;

}

.under-hidden-buy:hover {                       /* Анимации наведения и клика для них же */
  background-color: #5fbb2d;
}

.under-hidden-buy:hover img {
  opacity: 1;
}

.under-hidden-buy:active {
  background-color: #518534;
}

.v-zakladki:hover {
  border-color: #32425c ;
  color: #32425c ;
}

.v-zakladki:active {
  border-color: #32425c ;
  color: #32425c ;
  opacity: 0.3;
}
                                                             /* Производители иконки */
.firms {
  display: flex;
  width: 940px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-align: center;
}

.firms a{
  width: 218px;
  height: 143px;
  background-color: #ffffff;
  border: 1.0px solid #eaeaea;
  text-align: center;
}
                                                        /* Производители иконки выравнивание */
.bosch-icon {line-height: 160px;}
.makita-icon {line-height: 160px;}
.dewalt-icon{line-height: 160px;}
.interskol-icon{line-height: 200px;}
.hitachi-icon{line-height: 160px;}
.lg-icon{line-height: 200px;}
.aeg-icon{line-height: 200px;}
.metabo-icon{line-height: 200px;}


.firms a:hover    {                                       /* Производители иконки анимации */
  box-shadow: 0px 10px 25px 0px rgba(41,51,73,0.5);
}

.firms a:active {
  box-shadow: 0px 4px 10px 0px rgba(41,51,73,0.5);
  background-color: #ffffff;
  opacity: 0.3;
}




                                                               /* Секция с доставкой */
.services {
  width:100%;
  background-color: #f4f8f9;
  margin-top: 68px;
  height: 522px;
}

.services h2 {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.services span {
  font-family: Cuprum;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  color: #000000;
}

.user-services{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  display: flex;
}

.text-block-services{
  width:940px;
  padding-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.service-toggle label{
  display: block;
  width:218px;
  padding:13px 0 16px 22px;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum";
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449 ;
  outline:none;
  cursor: pointer;
}

.user-services input {
  display:none;
}


.text-box-without-picture{
  width: 620px;
  height:280px;
  display: flex;
  flex-direction: column;
  margin-top: -25px;
  margin-left: 80px;
  visibility: hidden;

}


.delivery {
  background-image: url(img/dotavka.png);
  background-position: top 50px right 0px;
  background-repeat: no-repeat;
  position: absolute;
}

.guarantee {
  background-image: url(img/guarantee.png);
  background-position: top 50px right 0px;
  background-repeat: no-repeat;
  position: absolute;
}

.credit{
  background-image: url(img/credit.png);
  background-position: top 50px right 0px;
  background-repeat: no-repeat;
  position: absolute;

}
.credit a {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 13px;
  padding-right: 35px;
  padding-bottom: 13px;
  padding-left: 35px;
  background-color: #ee3643;
  border-radius: 5px;
}

.text-box-without-picture h2 {
  font-family: Cuprum;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.text-box-without-picture span {
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  color: #000000;
}


                 /* Анимации кнопок */
#delivery:hover~.service-toggle label[for=delivery],
#guarantee:hover~.service-toggle label[for=guarantee],
#credit:hover~.service-toggle label[for=credit]{
  background-color: #293449;
}

#delivery:checked~.service-toggle label[for=delivery],
#guarantee:checked~.service-toggle label[for=guarantee],
#credit:checked~.service-toggle label[for=credit]{

  background: #ffffff;
  color: #32425c;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#delivery:checked~.delivery,
#guarantee:checked~.guarantee,
#credit:checked~.credit  {
  visibility: visible;
  position: relative;
}


                            /* Компания и контакт */
.company-contacts{
  width: 940px;
  height:536px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: flex;
}

.company-description{
  width: 720px;
}


.company-description h2,
.contact-map h2{
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.contact-map p,
.company-description p {
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  color: #000000;
}

.company-description li{
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  color: #000000;
  list-style-type: none;
}

.company-description li:before {
  content: " — ";
  color: red;
}

.company-description ul{
  padding-left: 0;
}

.company-description a{
font-family: Cuprum;
font-size: 14px;
line-height: 18px;
font-weight: 400;
text-transform: uppercase;
color: #ffffff;
padding-top: 13px;
padding-right: 35px;
padding-bottom: 13px;
padding-left: 35px;
background-color: #ee3643;
border-radius: 5px;

}

.contact-map  {
  width:304px;
  height:370px;
}


.write-us-button {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 13px;
  padding-right: 35px;
  padding-bottom: 13px;
  padding-left: 35px;
  background-color: #ee3643;
  border-radius: 5px;
  margin-top: 31px;
  text-align: center ;
}

           /* Окно напишите нам */
#write-us {
  position: fixed;
  display: none;
  width:620px;
  height:423px;
  bottom: 100px;
  left: 200px;
  background: white;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 10px 25px 0px rgba(41,51,73,0.5);
}

.write-us-central {
  width:460px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.name-mail {
  display: flex;
}

.name-mail .item2{
  margin-left:167px;
}




.write-us input{
  width: 214px;
  height: 32px;
  background-color: #ffffff;
  border: 2.0px solid #dee3e4;
  border-radius: 3px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.close-button-write {
  float:right;
  border:none;
  background: white;
  margin-top:7px;
  margin-right: 7px;
}

.write-us label{
  font-family: Cuprum;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.write-us textarea {
  width:454px;
  height:112px;
  text-decoration: none;
  background-color: #ffffff;
  border: 2.0px solid #dee3e4;
  border-radius: 3px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 20px;
  background-image: none;
}

#your-email{
  float:right;
}

.send{
width:100%;
font-family: Cuprum;
font-size: 14px;
line-height: 18px;
font-weight: 400;
text-transform: uppercase;
color: #ffffff;
padding-top: 13px;
padding-right: 35px;
padding-bottom: 13px;
padding-left: 35px;
background-color: #ee3643;
border-radius: 5px;
margin-top: 31px;
text-align: center ;
}


#write-us:target {
  display: block;
  transform: translateX(30%);
  z-index: 200;
}

.close-button-write:active~#write-us{
  display:none;
}

/* Окно с картой */

#map-popup {
  position: fixed;
  width:968px;
  height:474px;
  bottom: 100px;
  left: 190px;
  background-image: url(img/pryamougolnik_1_4198.png);
  display: none;

}

.close-button-map {
  float: right;
  background: none;
  border: none;
  margin-top:20px;
  margin-right:15px;
}

#map-popup:target {
  display: block;
}

.close-button-map:focus~#map-popup{
  display: none;
}









